<div class="recipe-detail">
  <%# I put this in the recipes_controller: @cookbook = Cookbook.find_by_user_id(session[:user_id]).id %>
  <div class="backbutton"><%= link_to 'Back', cookbook_url(@cookbook) %></div>

<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_area :ingredients %>
  </div>
  <div class="field">
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </div>
  <div class="field">
    <%= f.label :photo_url %><br />
    <%= f.text_field :photo_url %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.hidden_field :cookbook_id, :value => session[:user_id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>

<% end %>
</div>
