<div class="container">
<div>
<h2>Listing recipes</h2>
<center><%= link_to 'New Recipe', new_recipe_path, :class => 'new-recipe' %></center>

<table class="recipe-detail">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Ingredients</th>
    <th>Directions</th>
    <th>Photo</th>
    <th>Category</th>
    <th>User</th>
    <th>Cookbook</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.description %></td>
    <td><%= recipe.ingredients %></td>
    <td><%= recipe.directions %></td>
    <td><%= image_tag recipe.photo_url, :width => "150" %></td>
    <td><%= recipe.category.name %></td>
    <td><%= recipe.user.username %></td>
    <td><%= recipe.cookbook.name %></td>
</tr>
  <tr>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

</div>
</div>
