<div class="container">
<p id="notice"><%= notice %></p>
<h2>
  <b>Cookbook:</b>
  <%= @cookbook.name %>
</h2>

<center><%= link_to 'Add a New Recipe', new_recipe_url, :class => "new-recipe" %></center>

<% @cookbook.recipes.each do |recipe| %>
  <table class="recipe-detail">
    <td> <%= image_tag recipe.photo_url, :width => "200" %> </td>
    <td> <%= link_to recipe.name, recipe_url(recipe.id) %> </td>
    <td> <%= recipe.description %> </td>
  </table>
<% end %>


<footer></footer>
</div>


