<!DOCTYPE html>
<html>
<head>
  <title>Dishinit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Dish&rsquo;n It</h1>

<nav>
  <ul>
    <li><%= link_to 'Home', home_url %></li>
    <% if session[:user_id] %>
    <li><%= link_to 'My Cookbook', cookbook_url(Cookbook.find_by_user_id(session[:user_id]).id) %></li>
    <% end %>
    <% if session[:user_id].present? %>
      <li>Welcome back, <%= User.find_by_id(session[:user_id]).username %></li>
      <li><%= link_to 'Sign Out', sessions_url, :method => 'delete' %></li>
    <% else %>
        <li><%= link_to 'Sign In', new_session_url %></li>
    <% end %>
    <li>
  </ul>
</nav>
<%# notice %>
<%= yield %>

</body>
</html>
